.idea
logs/*
conf/*

# Theme path
app/*
!app/public
app/public/*
!app/public/wp-content
app/public/wp-content/*
!app/public/wp-content/plugins
!app/public/wp-content/mu-plugins
app/public/wp-content/themes/*
!app/public/wp-content/themes
!app/public/wp-content/themes/test