body {
    background-color: #bccdd7;
}

.wp-block {
    max-width: 800px;
}

.wp-block[data-align=full] {
    max-width: none;
}

.wp-block[data-align=wide] {
    max-width: 100px;
}

.alignwide {
    margin: 0 -100px;
}

@media screen and (max-width: 1000px) {
    .alignwide {
        margin: 0;
    }
}

.alignfull {
    margin: 0 calc(-1 * (100vw - 800px) / 2);
}

@media screen and (max-width: 800px) {
    .alignfull {
        margin: 0;
    }
}