/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-multi-gallery {
  position: relative;
  display: flex;
  margin: 0;
  overflow-x: hidden;

  @media (min-width: 1024px) {
	margin: 0 -260px;
  }

  // Masonry on
  &.has-4-elems.masonry {
	margin: 0;
	column-gap: 10px;
	display: flex;

	@media (min-width: 1024px) {
	  & > .multi-gallery__wrapper {
		display: block;
		column-count: 2;
		column-gap: 10px;
		margin: 0;
		padding: 0 20px;
	  }

	  .wp-block-gutenberg-gallery-image {
		margin: 0;
		display: grid;
		grid-template-rows: 1fr auto;
		margin-bottom: 10px;
		break-inside: avoid;
		max-width: 100%;

		&:nth-child(1),
		&:nth-child(2) {
		  justify-content: right;
		}

		img {
		  display: block;
		  height: 100%;
		  width: auto;
		}
	  }
	}

  }

  // Masonry off
  &.has-4-elems > .multi-gallery__wrapper{
	display: flex;
	flex-direction: column;

	@media (min-width: 1024px) {
	  display: grid;
	  grid-template-columns: repeat(3, auto);

	  .wp-block-gutenberg-gallery-image {
		&:nth-child(1) {
		  grid-column-start: 1;
		  grid-row-start: span 2;
		}

		&:nth-child(3) {
		  grid-column-start: 2;
		  grid-row-start: 2;
		}

		&:nth-child(4) {
		  grid-column-start: 3;
		  grid-row-start: span 2;
		}

		&:nth-child(1),
		&:nth-child(4) {
		  margin-bottom: auto;
		}
	  }
	}
  }

  &.has-6-elems {
	display: flex;
	justify-content: center;
	height: 335px;
	padding: 0;
	margin: 0 -130px;

	@media (min-width: 391px) {
	  height: auto;
	}

	@media (min-width: 768px) {
	  margin: 0 calc((100% - 1100px) / 2);
	}

	@media (min-width: 1024px) {
	  margin: 0 calc((100% - 1600px) / 2);
	}

	@media (min-width: 1400px) {
	  margin: 0 calc((100% - 1900px) / 2);
	}

	@media (min-width: 1600px) {
	  margin: 0 calc((100% - 2240px) / 2);
	}

	& > .multi-gallery__wrapper{
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  column-gap: 19px;
	  row-gap: 20px;
	  height: 100%;

	  @media (min-width: 1024px) {
		margin: 0 calc((100% - 2240px) / 2);
		column-gap: 45px;
		row-gap: 58px;
	  }

	  @media (min-width: 1600px) {
		margin: 0 calc((100% - 2240px) / 2);
		column-gap: 77px;
		row-gap: 99px;
	  }

	  .wp-block-gutenberg-gallery-image {
		display: flex;
		justify-content: center;

		&:nth-child(2) {
		  margin-bottom: 8px;

		  @media (min-width: 1024px) {
			margin-bottom: 28px;
		  }
		}

		&:nth-child(5) {
		  margin-top: -8px;

		  @media (min-width: 1024px) {
			margin-top: -28px;
		  }
		}

		&:nth-child(4),
		&:nth-child(6) {
		  margin-bottom: auto;
		}

		&:nth-child(1),
		&:nth-child(4) {
		  margin-left: auto;
		}

		&:nth-child(3),
		&:nth-child(6) {
		  margin-right: auto;
		}

		&:nth-child(1),
		&:nth-child(3) {
		  margin-top: auto;
		}

	  }
  }

  }

  .multi-gallery__wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	row-gap: 20px;
	column-gap: 20px;
	padding: 0 20px;
	width: 100%;
	justify-content: center;
	align-items: center;

	.wp-block-gutenberg-gallery-image {

	  img {
		border-radius: 5px;

		@media (min-width: 768px) {
		  border-radius: 10px;
		}
	  }
	}

	@media (min-width: 1024px) {
	  flex-direction: row;
	  padding: 0;
	}
  }

  .multi-gallery__color-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;

	.bottom-bg {
	  height: 20%;
	}

	.top-bg {
	  height: 80%;
	}

	@media (min-width: 1024px) {
	  .top-bg,
	  .bottom-bg {
		height: 50%;
	  }
	}
  }
}
